In [1]:
a= 1
isinstance(a,int)

True

In [2]:
# boolean in python is int 
#  0 Fslse , 1 true

In [8]:
def show(a,b,c,d ="keyword",e = "argument"):
    print(a)
    print(b)
    print(c)    
    print(d)
    print(e)

In [9]:
show("hellpw","world","s")

hellpw
world
s
keyword
argument

In [11]:
#keyword arguments
show("helllo","world","and",e="something")

helllo
world
and
keyword
something

In [ ]:
#printing it at the start
print("as","d",sep="_",end="\n")

# Positional Arguments 
all the arguments are packed in here

In [13]:
def show(a,b,c,*args,d=10,e=100):
    print(a)
    print(b)
    print(args) 
    print(d)

In [14]:
show(1,2,2,3,"Anay")

1
2
(3, 'Anay')
10

# Keywords arguments are packed with **kwargs
Any keywords arguments after *args will be packed in kwargs (which are not postionally defined)

In [19]:
def show(a,b,c,*args,d=10,**kwargs):
    print(a)
    print(b)
    print(c)
    print(args)
    print(d)
    print(kwargs)

In [20]:
show(1,2,3,3,34,"aA","jain"-,d=12,g=12,h=3)

1
2
3
(3, 34, 'aA', 'jain')
12
{'g': 12, 'h': 3}

# Positional arguments , packed positional arguments , keyword argument,packed keuword arguments

In [22]:
add = lambda a,b:a+b

In [23]:
add(1,2)

3

In [36]:
a=[12,22,13,4,354,23,12,12]

In [39]:
sorted(a)

[4, 12, 12, 12, 13, 22, 23, 354]

In [48]:
li  = [("Anay" ,40),("Xhumika",22),("Prachi",1)]

In [49]:
#will sort on the basis of the 1st ele of the tuple
sorted(li)

[('Anay', 40), ('Prachi', 1), ('Xhumika', 22)]

In [50]:
sorted(li, key = lambda x:x[1])

[('Prachi', 1), ('Xhumika', 22), ('Anay', 40)]

In [51]:
sorted(li, key = lambda x:x[1],reverse = True)

[('Anay', 40), ('Xhumika', 22), ('Prachi', 1)]

# Decorators 
 Decorators allow us to wrap another function in order to extend the behaviour of the wrapped function, without permanently modifying it.

In [9]:
mapper = {"Anay":1,
            "Prachi":2}
def login_system(func):
    def isValid(username,password,*args):
        if username in mapper and mapper[username]==password:
            func(*args) # this is IMP , as *args will expand its list as the parameters not as a tuple
        else:
            print("Not authenticated")
    return isValid

In [10]:
@login_system
def add(a,b):
    return a+b

In [14]:
#SAME AS ABOVE

def add(a,b):
    print(a+b)


add = login_system(add)

In [15]:
print(add("Anay",1,2,3))

5
None

# Data Strcuctures in python
    1) from -5 to 256 it will assign the same memeory to the variables that have same num stored
    a = 234 , b= 234 ( they will share same memory)

# Strings 
1) immutable
2) treated as as a string , not as a character array

In [17]:
# give ascii represenation 
ord("A")

65

In [18]:
chr(65)

'A'

# String formatting

In [20]:
a="anay"
b=23
c=2

In [21]:
# normal method
print(a+"-"+str(b))

anay-23

In [22]:
# method which have strict type
print("%s-%d-%d" % (a,b,c))

anay-23-2

In [23]:
# method with loose type
print("{}-{}-{}".format(a,b,c))

anay-23-2

In [24]:
print("{1}-{0}-{2}".format(a,b,c))

23-anay-2

In [30]:
print("{firstname}-{last}".format(firstname="a",last="s"))

a-s

# New introduction in python 3

In [31]:
firstname = "Anay"
lastname = "Jain"

In [35]:
print(f"{firstname} and {lastname}")
# just write f in the start and it will automatically take these values

Anay and Jain

In [37]:
# remove all white spaces
a= "    anay.    "
a.strip()

'anay.'

In [39]:
# split in list on the basis of delim
text ="My anme is anay"
text.split(" ")

['My', 'anme', 'is', 'anay']

In [42]:
# all the occurence of a will be replaced by n 
text.replace("a","n")

'My nnme is nnny'

In [44]:
text.count("y")

2

# Lists in python

In [48]:
# list can contain function too 
a =[1,"Anay",print]

In [49]:
a[2]("hei")

hei

In [51]:
b = [1,2,3,4,5]
print(b+b)
print(b*4)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [52]:
for i in b:
    print(i)

1
2
3
4
5

In [53]:
1 in b

True

In [54]:
name ="Anay"
name[::-1]

'yanA'

# Deleting the elemets in list
    1 pop -- remove on the basis of index
    2 del
    3 remove -- on the basis of element

In [55]:
a=[1,2,3,4,5]

In [56]:
a.pop()

5

In [57]:
a.pop(1)

2

In [61]:
a.insert(1,"anay")
a

[1, 'anay', 'anay', 3, 4]

In [63]:
namelist =["Anay", "Jain"]

In [66]:

namelist.remove("Anay")

In [68]:

namelist

['Jain']

In [72]:
a=[1,2,3,4]

In [77]:
a.reverse()

In [78]:
a

[4, 3, 2, 1]

In [80]:
for i in reversed(a):
    print(i)

1
2
3
4

# Tuples

In [81]:
a=(1,2,3)

if we dont give paranthesis it will also be considered as tuple

In [83]:
a = 1,2,3
a

(1, 2, 3)

Unpacking can be done on the tuple by giving same variables as inn the tuple

In [87]:
b,c,d=a
print(b,c,d)

1 2 3

# Swapping by tuple

In [92]:
a=2
b=44

In [93]:
b,a=a,b # this is done due to the tuple property

In [94]:
print(a,b)

44 2

In [96]:
a=list("anay")
a

['a', 'n', 'a', 'y']

In [98]:
a= list(range(12))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

# Returning multiple values from function( return a tuple)

In [99]:
def addSubtract(a,b):
    return (a+b,a-b) 
#   return a+b,a-b     --> thisi can also be returned as tuple dont need paranthesis, python will consider it as a tuple

In [102]:
sum , diff = addSubtract(2,3)
sum

5

# Dictonaries

In [104]:
a= {
    "Name":"Anay",
    "Roll":23,
    "Subjects":["eng","math"],
    "marks":{
        "Eng":23,
        "Math":24
    }
}

In [105]:
for keyss in a:
    print(keyss)

Name
Roll
Subjects
marks

# a.items() will make a tuple of key value pair

In [106]:
for item in a.items():
    print(item)

('Name', 'Anay')
('Roll', 23)
('Subjects', ['eng', 'math'])
('marks', {'Eng': 23, 'Math': 24})

In [107]:
# as it is a tuple , we can use a tuple property
for key,value in a.items():
    print(key,"==>",value)

Name ==> Anay
Roll ==> 23
Subjects ==> ['eng', 'math']
marks ==> {'Eng': 23, 'Math': 24}

# functions on dictonaries
    1) a.keys()
    2) a.values()
    4) a.get() // will return none if key not found
    3) a.clear()

# keys in dictonary can be any immutable DS, for ex they can be tuple

# Sets -> are unordered and cant be indexed

In [108]:
a={}  # will not create a set , it will create a dict by defualt

In [109]:
type(a)

dict

In [110]:
a = set()  # will initate it with the set
a = {1,2,3,4}
b={3,4,5,6}

In [111]:
a | b

{1, 2, 3, 4, 5, 6}

In [112]:
a & b

{3, 4}

In [114]:
a.intersection(b)

{3, 4}

In [115]:
a-b # will return the elements that are present in a but not in b

{1, 2}

Comprehension

In [118]:
a = []
for i in range(10):
    a.append(i**2)
a

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [119]:
# can be wrriten in single line lime this
[i**2 for i in range(12)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [120]:
[i**2 for i in range(18) if i % 2 ==0]

[0, 4, 16, 36, 64, 100, 144, 196, 256]

In [121]:
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [123]:
{i**2 for i in range(10)} # a SET

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

# Tuple comrehension is generator

In [124]:
5//3

1

In [125]:
5/3

1.6666666666666667

In [129]:
---10

-10

# Python classes

    1) Every thing in python is an object 
    2) Every object has a function callable associated with it (T or F)
    3) Functions and classes have the callable as true

In [131]:
class Person:
    name = "Anay"
    def sayHi(self):
        print(self.name)
        
p = Person()

In [133]:
# So p object is pass to itself by default
p.sayHi()

Anay

In [134]:
# we can call methods on the classes too ( as abstract classes)
Person.sayHi(p)

Anay

# Dunders or Magic functions
    1) Object have different lifecycles stages and for each stage there is a magic function
    2) __init__ is instiated when object is created( not a constructor)
# Functions 
    1) __init__(self) -> when object is created
    2) __del__(self) ->
    3) __add__(self, other) --> a.__add__(other) where other is an object. 
    4) __str__(self) 
    5) __eq__(self , other) --> self == other or can be self.something == other.something

In [137]:
class car:
    def __init__(self, car, mileage):
        self.car = car
        self.mileage = mileage
    def __eq__(self, other):
        return self.mileage ==other.mileage
    def __add__(self,other):
        return self.mileage + other.mileage

In [138]:
a = car("ford",20)
b = car("honda",23)

In [139]:
a+b # basically it is overridng __add__ method that we had created

43

In [140]:
a==b # overiding eq method

False

 # Implementing Cout

In [141]:
class ostream:
    def __lshift__(self,other):
        print(other, end=' ')
        return self # this is important to chain the cout <<a <<b , as it is return self (that is cout)

In [142]:
cout = ostream()

In [144]:
cout<<"Anay"<<"Jain"

Anay Jain

In [145]:
int?

In [150]:
int('1',3)

1

In [1]:
a=[1,23,4,5,1,2,3]
b=[4,5,6]
[(x,y) for x,y in zip(a,b)]

[(1, 4), (23, 5), (4, 6)]

In [4]:
x=[[1,2,34],[2,3,4],[23,34,[12,2]]]
[y for a in x for y in a ]

[1, 2, 34, 2, 3, 4, 23, 34, [12, 2]]

In [8]:
from copy import deepcopy , copy
a=[1,2,3]

a=copy(a) # will be a refernce

In [9]:
a=["Anay" , "jain"]
" ".join(a)

'Anay jain'

In [10]:
# single inheritance
# Parent class
class ParentClass:
    def par_func(self):
         print("I am parent class function")

# Child class
class ChildClass(ParentClass):
    def child_func(self):
         print("I am child class function")

# Driver code
obj1 = ChildClass()
obj1.par_func()
obj1.child_func()

I am parent class function
I am child class function

In [12]:
try:
    a=5
    print(a)
except NameError:
    print("Name is not defined")
else:
    print("will print if there is no error")
finally:
    print("executed")

5
will print if there is no error
executed

In [ ]:
# flattening a list
newlist = sum(newlist, [])

# Iterators in python
    1) Iteraable object in python that can be iterated upon, using an iterator
    2) Iterator return single object so that we can perform task over it

In [13]:
class fib:
    def __init__(self):
        self.prev=0
        self.curr=1
    def __iter__(self):
        return self
    def __next__(self):
        value = self.curr
        self.curr = self.curr+self.prev
        self.prev=value
        return value

In [15]:
f =iter(fib())

In [21]:
next(f)

5

# Generators in python 
    n : A generator-function is defined like a normal function, but whenever it needs to generate a value, it does so with the yield keyword rather than return

In [22]:
def fib():
    prev,curr=0,1
    while True:
        yield curr
        prev,curr = curr,prev+curr

In [23]:
type(fib())

generator

In [24]:
gen = fib()

In [27]:

next(gen)

2

In [29]:
a =(x**2 for x in range(1,11))

In [31]:
next(a)

4

In [33]:
!pip install nbconvert

Requirement already satisfied: nbconvert in /Users/anay/anaconda3/lib/python3.9/site-packages (6.1.0)
Requirement already satisfied: traitlets>=5.0 in /Users/anay/anaconda3/lib/python3.9/site-packages (from nbconvert) (5.1.0)
Requirement already satisfied: entrypoints>=0.2.2 in /Users/anay/anaconda3/lib/python3.9/site-packages (from nbconvert) (0.3)
Requirement already satisfied: jupyter-core in /Users/anay/anaconda3/lib/python3.9/site-packages (from nbconvert) (4.8.1)
Requirement already satisfied: testpath in /Users/anay/anaconda3/lib/python3.9/site-packages (from nbconvert) (0.5.0)
Requirement already satisfied: bleach in /Users/anay/anaconda3/lib/python3.9/site-packages (from nbconvert) (4.0.0)
Requirement already satisfied: jupyterlab-pygments in /Users/anay/anaconda3/lib/python3.9/site-packages (from nbconvert) (0.1.2)
Requirement already satisfied: mistune<2,>=0.8.1 in /Users/anay/anaconda3/lib/python3.9/site-packages (from nbconvert) (0.8.4)
Requirement already satisfied: nbformat>=4.4 in /Users/anay/anaconda3/lib/python3.9/site-packages (from nbconvert) (5.1.3)
Requirement already satisfied: pygments>=2.4.1 in /Users/anay/anaconda3/lib/python3.9/site-packages (from nbconvert) (2.10.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /Users/anay/anaconda3/lib/python3.9/site-packages (from nbconvert) (1.4.3)
Requirement already satisfied: defusedxml in /Users/anay/anaconda3/lib/python3.9/site-packages (from nbconvert) (0.7.1)
Requirement already satisfied: jinja2>=2.4 in /Users/anay/anaconda3/lib/python3.9/site-packages (from nbconvert) (2.11.3)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in /Users/anay/anaconda3/lib/python3.9/site-packages (from nbconvert) (0.5.3)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/anay/anaconda3/lib/python3.9/site-packages (from jinja2>=2.4->nbconvert) (1.1.1)
Requirement already satisfied: nest-asyncio in /Users/anay/anaconda3/lib/python3.9/site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert) (1.5.1)
Requirement already satisfied: async-generator in /Users/anay/anaconda3/lib/python3.9/site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert) (1.10)
Requirement already satisfied: jupyter-client>=6.1.5 in /Users/anay/anaconda3/lib/python3.9/site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert) (6.1.12)
Requirement already satisfied: tornado>=4.1 in /Users/anay/anaconda3/lib/python3.9/site-packages (from jupyter-client>=6.1.5->nbclient<0.6.0,>=0.5.0->nbconvert) (6.1)
Requirement already satisfied: pyzmq>=13 in /Users/anay/anaconda3/lib/python3.9/site-packages (from jupyter-client>=6.1.5->nbclient<0.6.0,>=0.5.0->nbconvert) (22.2.1)
Requirement already satisfied: python-dateutil>=2.1 in /Users/anay/anaconda3/lib/python3.9/site-packages (from jupyter-client>=6.1.5->nbclient<0.6.0,>=0.5.0->nbconvert) (2.8.2)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /Users/anay/anaconda3/lib/python3.9/site-packages (from nbformat>=4.4->nbconvert) (3.2.0)
Requirement already satisfied: ipython-genutils in /Users/anay/anaconda3/lib/python3.9/site-packages (from nbformat>=4.4->nbconvert) (0.2.0)
Requirement already satisfied: setuptools in /Users/anay/anaconda3/lib/python3.9/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert) (58.0.4)
Requirement already satisfied: attrs>=17.4.0 in /Users/anay/anaconda3/lib/python3.9/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert) (21.2.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /Users/anay/anaconda3/lib/python3.9/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert) (0.18.0)
Requirement already satisfied: six>=1.11.0 in /Users/anay/anaconda3/lib/python3.9/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert) (1.16.0)
Requirement already satisfied: webencodings in /Users/anay/anaconda3/lib/python3.9/site-packages (from bleach->nbconvert) (0.5.1)
Requirement already satisfied: packaging in /Users/anay/anaconda3/lib/python3.9/site-packages (from bleach->nbconvert) (21.0)
Requirement already satisfied: pyparsing>=2.0.2 in /Users/anay/anaconda3/lib/python3.9/site-packages (from packaging->bleach->nbconvert) (3.0.4)

In [34]:
!pip install pyppeteer

Collecting pyppeteer
  Downloading pyppeteer-1.0.2-py3-none-any.whl (83 kB)
     |████████████████████████████████| 83 kB 3.9 MB/s eta 0:00:01
Requirement already satisfied: importlib-metadata>=1.4 in /Users/anay/anaconda3/lib/python3.9/site-packages (from pyppeteer) (4.8.1)
Collecting websockets<11.0,>=10.0
  Downloading websockets-10.3-cp39-cp39-macosx_10_9_x86_64.whl (97 kB)
     |████████████████████████████████| 97 kB 7.3 MB/s eta 0:00:011
Requirement already satisfied: tqdm<5.0.0,>=4.42.1 in /Users/anay/anaconda3/lib/python3.9/site-packages (from pyppeteer) (4.62.3)
Requirement already satisfied: appdirs<2.0.0,>=1.4.3 in /Users/anay/anaconda3/lib/python3.9/site-packages (from pyppeteer) (1.4.4)
Collecting pyee<9.0.0,>=8.1.0
  Downloading pyee-8.2.2-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: certifi>=2021 in /Users/anay/anaconda3/lib/python3.9/site-packages (from pyppeteer) (2021.10.8)
Requirement already satisfied: urllib3<2.0.0,>=1.25.8 in /Users/anay/anaconda3/lib/python3.9/site-packages (from pyppeteer) (1.26.7)
Requirement already satisfied: zipp>=0.5 in /Users/anay/anaconda3/lib/python3.9/site-packages (from importlib-metadata>=1.4->pyppeteer) (3.6.0)
Installing collected packages: websockets, pyee, pyppeteer
Successfully installed pyee-8.2.2 pyppeteer-1.0.2 websockets-10.3